@{
    ViewBag.Title = "Error Page";
}
<h1>@ViewBag.ErrorMessage</h1>
<h1>@ViewBag.Path </h1>
<h1>@ViewBag.QS</h1>
<a asp-controller="home" asp-action="IEnumerable" class="btn btn-outline-success" style="width:auto">
    Click Here to Go Home Page
</a>